<div class="col-xs-3 nav-setting">
    <div class="dropdown">
        <button class="btn btn-default glyphicon glyphicon-menu-hamburger dropdown-toggle" type="button" id="dropdownMenu"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        </button>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">

            <% if (!user) { %>
                <li><a href="/login">登陆</a></li>
                <li><a href="/register">注册</a></li>
            <% } else { %>
            <li><a><%= user.username %></a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/posts?author=<%= user._id %>">个人主页</a></li>
            <li><a href="/posts/create">发表文章</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout">退出</a></li>
            <% } %>
            
            
            
        </ul>
    </div>
</div>